#root {
  height: 100%;
  width: 100%;
}

.frasco-root {
  display: flex;
  height: 100%;
  width: 100%;
  background: var(--color-background);
}

.frasco-panel {
  display: flex;
  flex-direction: column;
  background: var(--color-controls);
  border-right: 1px solid var(--color-border);
  overflow-y: auto;
  min-width: 250px;
  padding: 36px;
}

.control-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.control-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.control-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.frasco-stage {
  flex: 1;
  display: flex;
  background: var(--color-canvas-area);
  position: relative;
}

.frasco-canvas {
  flex: 1;
  border: 1px solid var(--color-canvas-border);
  background: var(--color-canvas);
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--zindex-webgl-canvas);
}

.undo-redo-nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  margin: 48px;
  gap: 56px;
  z-index: var(--zindex-canvas-overlay);
}

.undo-redo-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  pointer-events: auto;
}

.undo-icon,
.redo-icon {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 24px;
  image-rendering: pixelated;
  shape-rendering: crispEdges;
  align-content: center;
  align-items: center;
  backdrop-filter: invert();
}
